[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=${user}
WorkingDirectory=/home/${user}/reddit
EnvironmentFile=/home/${user}/puma.env
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
